*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1{
    color: #ffaaff;
}

body{
    background-color: rgb(11, 11, 12);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    flex-direction: column;
}

.main{
    width: 50%;
}

img{
    height: 25vh;
    border-radius: 25%;
}

a{
    text-decoration: none;
    font-weight: bold;

    transform: matrix3d(0);
    transition: transform 0.2s linear;
}

a:hover{
    text-decoration: underline;
    font-weight: bolder;
}

.bold{
    font-weight: bolder;
}

.blue{
    color: #4252e4;
}