*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
}

.main{
    width: 100vw;
    height: 100vh;

    background-image: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.404) 35%, rgba(255, 0, 0, 0) 100%),
     url(/images/blackbg.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.main img{
    height: 20vh;

    border-radius: 5%;
    outline-width: 100px;
}

.main h1{
    font-weight: bolder;
    font-size: 400%;
    color: rgb(255, 67, 67);

    text-shadow: 4px 5px 11px rgba(0,0,0,0.55);
}

.main p{
    font-weight: bolder;
    font-size: 250%;
    color: rgb(255, 111, 111);

    text-shadow: 4px 5px 11px rgba(0,0,0,0.55);
}

.info{
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(19, 19, 19) 0%, rgb(0, 0, 0) 15%);

    width: 100vw;
    padding-top: 15vh;
    padding-bottom: 20vh;

    display: flex;
    
    justify-items: center;
    align-items: center;

    flex-direction: column;
}

.info h1{
    color: white;
    font-size: 300%;
    text-shadow: 0px 0px 11px rgba(255, 255, 255, 0.226);
}

.info p{
    color: white;
    font-size: 200%;
    text-shadow: 0px 0px 11px rgb(255, 255, 255);
}

.info a{
    color: rgb(199, 199, 199);
    text-shadow: 0px 0px 11px rgba(255, 255, 255, 0.582);
    font-size: 150%;
    text-decoration: none;
}

.info a:hover{
    text-decoration: underline;
}

.bottombar{
    background-color: rgb(5, 5, 5);
    padding-top: 1vh;
    padding-bottom: 1vh;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, hsl(0, 0%, 0%) 0px 0px 0px 3px;
}

.bottombar p{
    color: white;
    text-align: center;
}
.bottombar a{
    text-decoration: none;
    color: white;
    text-align: center;
}

.info h2{
    color: white;
    font-size: 100%;
    font-weight: lighter;
    text-shadow: 0px 0px 11px rgb(255, 255, 255, 0.5);
}

.novxmber{
    background-color: rgb(19, 19, 19);
    padding-top: 10vh;
    padding-bottom: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.novxmber h1{
    color: white;
    font-weight: bolder;
    font-size: 300%;
    text-shadow: 0px 0px 11px rgba(255, 255, 255, 0.226);
}

.novxmber img{
    height: 30vh;

    border-radius: 25%;
    outline-width: 100px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.novxmber p{
    color: white;
    font-size: 150%;
}

.novxmber a{
    color: rgb(175, 175, 175);
    text-shadow: 0px 0px 11px rgba(255, 255, 255, 0.582);
    font-size: 150%;
    text-decoration: none;
}

.novxmber a:hover{
    text-decoration: underline;
}