*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background-color: rgb(11, 11, 12);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

img{
    height: 25vh;
    border-radius: 25%;
}

a{
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

.bold{
    font-weight: bolder;
}